@layer reset,assets,theme,layout;
@layer reset {
  *::before,
  *,
  *::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
  html {
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    hanging-punctuation: first allow-end last; /* Not widely supported, use text-indent as fallback */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  @media (prefers-reduced-motion) {
    *::before,
    *,
    *::after {
      animation-duration: 0s !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }
}
@layer assets {
  /* Typography */
  @font-face { /* Default (Regular) */
    font-family: "Neue Einstellung";
    src: url("NeueEinstellung-Normal.woff2") format("woff2");
    font-display: swap;
  }
  @font-face { /* Default (Bold) */
    font-family: "Neue Einstellung";
    src: url("NeueEinstellung-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }
  @font-face { /* Default (Fallback) */
    font-family: "Neue Einstellung Fallback";
    size-adjust: 109%;
    ascent-override: 118%;
  }
  @font-face { /* Header */
    font-family: "TAN St. Canard";
    src: url("TANStCanard-Display.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
  }
  @font-face { /* Header (Fallback) */
    font-family: "TAN St. Canard Fallback";
    size-adjust: 105%;
    ascent-override: 94%;
  }
  @font-face { /* Event Header */
    font-family: "Negrita Pro";
    src: url("Negrita-Pro.woff2") format("woff2");
    font-display: swap;
  }
  @font-face { /* Event Header (Fallback) */
    font-family: "Negrita Pro Fallback";
    size-adjust: 79%;
  }
  :root {
    /* Colours: oklch(Brightness(0-1) Saturation(0-0.37) Hue(0-180) / Alpha(0-100%)) */
    /* Document Colours */
    --Off-White: oklch(0.9889705061005561 0.011379634175108129 84.5777707769949); /* #fffbf3; rgb(255,251,243); */
    --Neutral_Grey: oklch(0.5 0 0); /* #636363; rgb(99,99,99); */
    --Easy-On-The-Eyes_Black: oklch(0.17644019179778966 0.012395924974050192 226.09244034496973
    ); /* #0b1215; rgb(11,18,21); */
    /* Base Rainbow Palette */
    --Rose: oklch(0.5882089242909252 0.21125331769526942 14.092925606645451); /* #dd2a55; rgb(221,42,85); */
    --Tangerine: oklch(0.7145689691313319 0.175581688521099 49.11072256569463); /* #f77b28; rgb(247,123,40); */
    --Sunshine: oklch(0.8653074278560848 0.1497592435129982 90.57949800609094); /* #f8ce4d; rgb(248,206,77); */
    --Grass: oklch(0.6323845681163087 0.13573679123111135 145.4502619167156); /* #4d9f54; rgb(77,159,84); */
    --Sky: oklch(0.6041204452605085 0.153540608312167 256.4544847077277); /* #3d81db; rgb(61,129,219); */
    --Lavender: oklch(0.6648274812493339 0.1308345231366333 313.44398556773535); /* #b07acc; rgb(176,122,204); */
    /* Additional Colours */
    --Lagoon: oklch(0.7760964756100834 0.11146157299240993 218.66753479225045); /* #54c7e6; rgb(84,199,230); */
    --Carnation: oklch(0.813280072225418 0.07913434229338959 4.960306086162063); /* #efadbb; rgb(239,173,187); */
    --Quartz: oklch(0.9802682745556885 0.022320705660403263 87.1491756931726); /* #fff8e8; rgb(255,248,232); */
    --Coal: oklch(0.36483800712846853 0.0013678040297622838 17.219942098963315); /* #3f3e3e; rgb(63,62,62); */
    --Earth: oklch(0.475285702751123 0.03134421230298802 44.435245914265465); /* #6c574e; rgb(108,87,78); */
    --Clay: oklch(0.4894096212898493 0.0870247603918415 22.627866185563676); /* #8b4b49; rgb(139,75,73); */
    --Grainy_Rainbow_Background:
      url("Grainy_Filter.svg"),
      radial-gradient(circle at 0% 50%,
      var(--Sky) 0%, transparent 50%),
      radial-gradient(circle at 100% 50%,
      var(--Tangerine) 0%, transparent 50%),
      radial-gradient(circle at 75% 0%,
      var(--Rose) 0%, transparent 50%),
      radial-gradient(circle at 25% 100%,
      var(--Grass) 0%, transparent 50%),
      radial-gradient(circle at 25% 0%,
      var(--Lavender) 0%, transparent 50%),
      radial-gradient(circle at 75% 100%,
      var(--Sunshine) 0%, transparent 50%);
    --Rainbow_Soft:
      var(--Rose) 0%,
      var(--Tangerine) calc(100% / 7 * 1),
      var(--Sunshine) calc(100% / 7 * 2),
      var(--Grass) calc(100% / 7 * 3),
      var(--Sky) calc(100% / 7 * 4),
      var(--Lavender) calc(100% / 7 * 5),
      var(--Clay) calc(100% / 7 * 6),
      var(--Coal) 100%;
    --Gradient_Rainbow_Soft_Horizontal: linear-gradient(
      90deg,
      var(--Rainbow_Soft)
    );
    --Gradient_Rainbow_Soft_Vertical: linear-gradient(
      0deg,
      var(--Rainbow_Soft)
    );
    --Rainbow_Hard:
      var(--Rose) calc(100% / 8),
      var(--Tangerine) 0 calc(100% / 8 * 2),
      var(--Sunshine) 0 calc(100% / 8 * 3),
      var(--Grass) 0 calc(100% / 8 * 4),
      var(--Sky) 0 calc(100% / 8 * 5),
      var(--Lavender) 0 calc(100% / 8 * 6),
      var(--Clay) 0 calc(100% / 8 * 7),
      var(--Coal) 0;
    --Gradient_Rainbow_Hard_Horizontal: linear-gradient(
      90deg,
      var(--Rainbow_Hard)
    );
    --Gradient_Rainbow_Hard_Vertical: linear-gradient(
      0deg,
      var(--Rainbow_Hard)
    );
    --Trans_Flag_Soft:
      var(--Lagoon) 0%,
      var(--Carnation) calc(100% / 4 * 1),
      var(--Quartz) calc(100% / 4 * 2),
      var(--Carnation) calc(100% / 4 * 3),
      var(--Lagoon) 100%;
    --Gradient_Trans_Flag_Soft_Horizontal: linear-gradient(
      to right,
      var(--Trans_Flag_Soft)
    );
    --Gradient_Trans_Flag_Soft_Vertical: linear-gradient(
      to bottom,
      var(--Trans_Flag_Soft)
    );
    --Trans_Flag_Hard:
      var(--Lagoon) calc(100% / 5),
      var(--Carnation) 0 calc(100% / 5 * 2),
      var(--Quartz) 0 calc(100% / 5 * 3),
      var(--Carnation) 0 calc(100% / 5 * 4),
      var(--Lagoon) 0;
    --Gradient_Trans_Flag_Hard_Horizontal: linear-gradient(
      90deg,
      var(--Trans_Flag_Hard)
    );
    --Gradient_Trans_Flag_Hard_Vertical: linear-gradient(
      0deg,
      var(--Trans_Flag_Hard)
    );
    /* Sizes */
    --Font_Height: 1.5rem; /* Requires Settings Modal */
    --Font_Ratio: pow(2,1/4); /* 1.18920711500272... */
    --XSmall_Font_Height: calc(pow(var(--Font_Ratio), -2) * var(--Font_Height)); /* 16.9705627484771px; 1.06066017177982rem; */
    --Small_Font_Height: calc(pow(var(--Font_Ratio), -1) * var(--Font_Height));  /* 20.1815139660891px; 1.26134462288057rem; */
    --Medium_Font_Height: var(--Font_Height);                                    /* 24px; 1.5rem; */
    --H6_Font_Height: calc(pow(var(--Font_Ratio), 1) * var(--Font_Height));      /* 28.5409707600653px; 1.78381067250408rem; */
    --H5_Font_Height: calc(pow(var(--Font_Ratio), 2) * var(--Font_Height));      /* 33.9411254969543px; 2.12132034355964rem; */
    --H4_Font_Height: calc(pow(var(--Font_Ratio), 3) * var(--Font_Height));      /* 40.3630279321783px; 2.52268924576114rem; */
    --H3_Font_Height: calc(pow(var(--Font_Ratio), 4) * var(--Font_Height));      /* 48px; 3rem; */
    --H2_Font_Height: calc(pow(var(--Font_Ratio), 5) * var(--Font_Height));      /* 57.0819415201306px; 3.56762134500816rem; */
    --H1_Font_Height: calc(pow(var(--Font_Ratio), 6) * var(--Font_Height));      /* 67.8822509939085px; 4.24264068711928rem; */
    --Body_Border_Width: 5vmin;
    --Body_Border_Radius: 1vmin;
    --Content_Margin: .25rem;
    --Header_Height: 7.5%;
    --Footer_Height: 7.5%;
    --Running_Marginal_Border_Width: 4rem;
    /* Text */
    --Entity: "Geelong Rainbow Incorporated";
    --ABN: "77 815 116 147";
    --Group_Name: "Geelong Rainbow";
    --Acknowledgement_of_Country: "We acknowledge that we live on the stolen land of the Wadawurrung people of the Kulin nations and we pay our respects to elders past, present and emerging. We acknowledge their continuing connection to land, water and culture and that sovereignty has never been ceded.";
    /* Images */
    --GR_Logo: url("GR_Logo.svg") / var(--Group_Name);
    -GR_Sunrise_Logo: url("GR_Sunrise_Logo.svg") / var(--Group_Name);
    --GR_Icon: url("GR_Icon.svg") / var(--Group_Name);
    --GR_Festival_Logo: url("GR_Festival_Logo.svg") / var(--Group_Name)" Festival";
    --Aboriginal_Flag: url("Aboriginal_Flag.svg") / "Aboriginal Flag";
    --Torres_Strait_Islander_Flag: url("Torres_Strait_Islander_Flag.svg") / "Torres Strait Islander Flag";
    --CoGG_Logo: url("CoGG_Logo.svg") / "City of Greater Geelong";
    --Vic_Gov_Logo: url("Vic_Gov_Logo.svg") / "Victoria State Government";
    --Instagram_Logo: url("Instagram_Logo.svg") / var(--Group_Name) " Instagram Page";
    --Facebook_Logo: url("Facebook_Logo.svg") / var(--Group_Name) " Facebook Page";
    --Messenger_Logo: url("Messenger_Logo.svg") / var(--Group_Name) " Messenger Contact";
    --Pride_Progress_Default_Cursor: url("Pride_Progress_Default_Cursor.svg");
    --Pride_Progress_Pointer_Cursor: url("Pride_Progress_Pointer_Cursor.svg");
  }
}
@layer theme {
  /* Common Theme Defines */
  * {
    cursor: url("Pride_Progress_Default_Cursor.svg") 0 0, default;
  }
  a {
    cursor: url("Pride_Progress_Pointer_Cursor.svg") 13 0, pointer;
  }
  a:visited {
    color: var(--Lavender);
  }
  html {
    background: var(--Grainy_Rainbow_Background);
    background-blend-mode: luminosity, normal, normal, normal, normal, normal, normal;
    min-height: 100vh;
    font-family: "Neue Einstellung", "Neue Einstellung Fallback";
  }
  h1,
  h2 {
    font-family: "TAN St. Canard", "TAN St. Canard Fallback";
  }
  header {
    font-size: var(--H6_Font_Height);
  }
  main {
    font-size: var(--Medium_Font_Height);
  }
  h1 {
    font-size: var(--H1_Font_Height);
  }
  h2 {
    font-size: var(--H2_Font_Height);
  }
  aside,
  footer {
    font-size: var(--XSmall_Font_Height);
  }
/*   .Gradient_Rainbow_Hard_Horizontal {
    border: var(--Running_Marginal_Border_Width) solid;
    border-image-slice: 0 0% 100% 0%;
    border-image-source: var(--Gradient_Rainbow_Hard_Horizontal);
  } */
  .ABN::before {
    content: var(--ABN);
  }
  .Entity::before {
    content: var(--Entity);
  }
  .Group_Name::before {
    content: var(--Group_Name);
  }
  .Acknowledgement_of_Country {
    text-wrap: balance;
  }
  .Acknowledgement_of_Country::after {
    content: var(--Acknowledgement_of_Country);
  }
  .GR_Sunrise_Logo {
    content: var(--GR_Sunrise_Logo);
  }
  .Aboriginal_Flag {
    content: var(--Aboriginal_Flag);
  }
  .Torres_Strait_Islander_Flag {
    content: var(--Torres_Strait_Islander_Flag);
  }
  @media (prefers-color-scheme: light) { /* Light Colour Scheme */
  .Cursor_Border {
    fill: var(--Coal);
  }
    @supports (scrollbar-color: auto) {
      * {
        scrollbar-color: color-mix(in oklch, var(--Coal) 70%, var(--Off-White)) var(--Off-White);
      }
    }
    @supports selector(::-webkit-scrollbar) {
      *::-webkit-scrollbar-thumb {
        background: color-mix(in oklch, var(--Coal) 70%, var(--Off-White));
      }
      *::-webkit-scrollbar-track {
        background: var(--Off-White);
      }
    }
    body {
      color: var(--Coal);
      background: var(--Off-White);
    }
    header,
    .Sidebar,
    footer {
      background: var(--Quartz);
    }
    a:link {
      color: var(--Sky);
    }
  }
  @media (prefers-color-scheme: dark) { /* Dark Colour Scheme */
  .Cursor_Border {
    fill: var(--Off-White);
  }
    @supports (scrollbar-color: auto) {
      * {
        scrollbar-color: color-mix(in oklch, var(--Off-White) 70%, var(--Coal)) var(--Coal);
      }
    }
    @supports selector(::-webkit-scrollbar) {
      *::-webkit-scrollbar-thumb {
        background: color-mix(in oklch, var(--Off-White) 70%, var(--Coal));
      }
      *::-webkit-scrollbar-track {
        background: var(--Coal);
      }
    }
    body {
      color: var(--Off-White);
      background: var(--Coal);
    }
    header,
    .Sidebar,
    footer {
      background: var(--Clay);
    }
    a:link {
      color: var(--Lagoon);
    }
  }
  @media (prefers-contrast: more) { /* High Contrast Theme Colours */
    
  }
  @media (prefers-contrast: less) { /* Low Contrast Theme Colours */
    
  }
}
@layer layout {
  html {
    min-height: 100vh;
  }
/*   .Border_Bottom_Only {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .Border_Top_Only {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  } */
  body {
    height: calc(100vh - (var(--Body_Border_Width) * 2));
    margin: var(--Body_Border_Width);
    @supports(margin: max(0px)) {
      margin: 
        max(env(safe-area-inset-top), var(--Body_Border_Width))
        max(env(safe-area-inset-right), var(--Body_Border_Width))
        max(env(safe-area-inset-bottom), var(--Body_Border_Width))
        max(env(safe-area-inset-left), var(--Body_Border_Width));
    border-radius: var(--Body_Border_Radius);
    display: grid;
    grid-template:
    "Header Header" 3fr
    "Sidebar Main" 6fr
    "Sidebar Footer" 1fr
    / 1fr 3fr;
  }
  header,
  .Carousel,
  .Sidebar,
  main,
  footer {
    border-radius: var(--Body_Border_Radius);
    margin: var(--Content_Margin);
  }
  header {
    grid-area: Header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "Carousel"
    "Navigation";
  }
  .Sidebar {
    grid-area: Sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "Quick-Links"
    "Calendar";
  }
  main {
    grid-area: Main;
    inset: var(--Body_Border_Width);
    border-radius: var(--Body_Border_Radius);
    padding: calc(var(--Body_Border_Width) / 2);
    text-align: center;
    text-wrap: balance;
    overflow-y: scroll;
  }
  footer {
    grid-area: Footer;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "Acknowledgement_of_Country Flags"
    "Acknowledgement_of_Country ABN";
  }
  .Carousel,
  .Navigation,
  .Quick-Links,
  .Calendar,
  .Acknowledgement_of_Country,
  .Flags {
    align-self: center;
    text-align: center;
  }
  .Carousel {
    grid-area: Carousel;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
  .Navigation {
    grid-area: Navigation;
    border-image-slice: 100% 0 0 0;
    border-image-width: 18.75px 0px 0px 0px;
    border-image-outset: 37.5px 0px 0px 0px;
    border-image-source: var(--Gradient_Trans_Flag_Hard_Vertical);
    border-style: solid;
  }
  .Quick-Links {
    grid-area: Quick-Links;
  }
  .Calendar {
    grid-area: Calendar;
  }
  .Acknowledgement_of_Country {
    grid-area: Acknowledgement_of_Country;
  }
  .Flags {
    grid-area: Flags;
  }
  .ABN {
    grid-area: ABN;
    align-self: end;
    justify-self: end;
  }
  .Carousel > img {
    flex: 0 0 auto;
    width: 25%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    }
}