@layer reset,assets,theme,layout;/* defines the priority of each cascade layer */
@layer reset {/* value initialisation */
  *::before,
  *,
  *::after {
    box-sizing: border-box;/* width and height values apply to the content, padding, and border of an element */
    margin: 0;/* remove default margins */
    padding: 0;/* remove default padding */
  }
  html {
    color-scheme: light dark;/* website supports both light and dark mode */
    -webkit-font-smoothing: antialiased;/* disable sub-pixel font anti-aliasing on MacOS, prevents unspecified thickness */
    -webkit-text-size-adjust: none;/* disable automatically resizing text on phones, that's our choice! */
    text-size-adjust: none;/* as above */
    hanging-punctuation: first allow-end last;/* as read. not widely supported, use `text-indent` inside negated `@supports` rule */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-wrap: balance;/* have text wrap in a way that best balances the number of characters on each line */
  }
  p {
    text-wrap: pretty;/* if supported, use a stronger algorithm that prevents paragraph orphans */
  }
  @media (prefers-reduced-motion: no-preference) {/* if reduced motion is disabled: */
    html {
      interpolate-size: allow-keywords;/* allow animating with keywords (e.g. `auto`, `min-content`) */
    }
  }
  @media (prefers-reduced-motion) {/* if reduced motion is enabled: */
    *::before,
    *,
    *::after {
      animation-duration: 0s !important;/* force all keyframe durations to be empty */
      transition: none !important;/* disable transition animations */
      scroll-behavior: auto !important;/* disable scroll animations */
    }
  }
}
@layer assets {/* typefaces, variables, media */
 /* typefaces: fallbacks are designed to imitate size and shape of fonts before they are loaded */
  @font-face {/* default (regular) */
    font-family: "Neue Einstellung";
    src: url("NeueEinstellung-Normal.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {/* default (bold) */
    font-family: "Neue Einstellung";
    src: url("NeueEinstellung-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }
  @font-face {/* default (fallback) */
    font-family: "Neue Einstellung Fallback";
    size-adjust: 109%;
    ascent-override: 118%;
  }
  @font-face {/* header */
    font-family: "TAN St. Canard";
    src: url("TANStCanard-Display.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
  }
  @font-face {/* header (fallback) */
    font-family: "TAN St. Canard Fallback";
    size-adjust: 105%;
    ascent-override: 94%;
  }
  @font-face {/* event header */
    font-family: "Negrita Pro";
    src: url("Negrita-Pro.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {/* event header (fallback) */
    font-family: "Negrita Pro Fallback";
    size-adjust: 79%;
  }
 /* variables */
  :root {
   /* sizes */
    --Font_Height: 1.5rem;/* this needs to be configurable in an accessibility menu */
    --Font_Ratio: pow(2,1/4);/* 1.18920711500272... */
    --XSmall_Font_Height: calc(pow(var(--Font_Ratio), -2) * var(--Font_Height));/* 16.9705627484771px; 1.06066017177982rem; */
    --Small_Font_Height: calc(pow(var(--Font_Ratio), -1) * var(--Font_Height));/*  20.1815139660891px; 1.26134462288057rem; */
    --Medium_Font_Height: var(--Font_Height);/*                                    24px;               1.5rem;              */
    --H6_Font_Height: calc(pow(var(--Font_Ratio), 1) * var(--Font_Height));/*      28.5409707600653px; 1.78381067250408rem; */
    --H5_Font_Height: calc(pow(var(--Font_Ratio), 2) * var(--Font_Height));/*      33.9411254969543px; 2.12132034355964rem; */
    --H4_Font_Height: calc(pow(var(--Font_Ratio), 3) * var(--Font_Height));/*      40.3630279321783px; 2.52268924576114rem; */
    --H3_Font_Height: calc(pow(var(--Font_Ratio), 4) * var(--Font_Height));/*      48px;               3rem;                */
    --H2_Font_Height: calc(pow(var(--Font_Ratio), 5) * var(--Font_Height));/*      57.0819415201306px; 3.56762134500816rem; */
    --H1_Font_Height: calc(pow(var(--Font_Ratio), 6) * var(--Font_Height));/*      67.8822509939085px; 4.24264068711928rem; */
    --Body_Border_Width: 5vmin;/* the default width of the rainbow border */
    --Body_Border_Radius: 1vmin;/* the size of the rounded corners on main parents */
    --Content_Margin: .25rem;/* the distance between main parents */
    --Carousel_Image_Width: 25cqi;/* how much of the carousel width each image uses */
    --Carousel_Image_Blend_Width: 5;/* horizontal blend width */
    --Carousel_Image_Count: 8;/* how many images are in the carousel */
    --Carousel_Image_Duration: 7.5s;/* how long each carousel image is shown */
    --Logo_Size_Multiplication_Factor: 2;/*how much to multiply the logo by*/
    --Running_Marginal_Border_Width: 6.977px;/* should match the stroke width of the outermost trans flag circle on the GR logo */
   /* text: reusable strings only */
    --Entity: "Geelong Rainbow Inc.";
    --ABN: "77 815 116 147";
    --Group_Name: "Geelong Rainbow";
    --Acknowledgement_of_Country: "We acknowledge that we live on the stolen land of the Wadawurrung people of the Kulin nations and we pay our respects to elders past, present and emerging. We acknowledge their continuing connection to land, water and culture and that sovereignty has never been ceded.";
   /* images: text after slash character is interpretted as alternative text */
    --GR_Logo: url("GR_Logo.svg") / var(--Group_Name);
    --GR_Sunrise_Logo: url("GR_Sunrise_Logo.svg") / var(--Group_Name);
    --GR_Icon: url("GR_Icon.svg") / var(--Group_Name);
    --GR_Festival_Logo: url("GR_Festival_Logo.svg") / var(--Group_Name)" Festival";
    --Aboriginal_Flag: url("Aboriginal_Flag.svg") / "Aboriginal Flag";
    --Torres_Strait_Islander_Flag: url("Torres_Strait_Islander_Flag.svg") / "Torres Strait Islander Flag";
    --CoGG_Logo: url("CoGG_Logo.svg") / "City of Greater Geelong";
    --Vic_Gov_Logo: url("Vic_Gov_Logo.svg") / "Victoria State Government";/* Embedded CSS for light/dark mode fill */
    --Instagram_Logo: url("Instagram_Logo.svg") / var(--Group_Name) " Instagram Page";
    --Facebook_Logo: url("Facebook_Logo.svg") / var(--Group_Name) " Facebook Page";
    --Messenger_Logo: url("Messenger_Logo.svg") / var(--Group_Name) " Messenger Contact";
    --Pride_Progress_Default_Cursor: url("Pride_Progress_Default_Cursor.svg");
    --Pride_Progress_Pointer_Cursor: url("Pride_Progress_Pointer_Cursor.svg");
   /* colours: oklch(brightness(0-1) saturation(0-0.37) hue(0-180) / alpha(0-100%)) */
   /* document colours */
    --Off-White: oklch(0.9889705061005561 0.011379634175108129 84.5777707769949);/*                 #fffbf3; rgb(255,251,243); */
    --Neutral_Grey: oklch(0.5 0 0);/*                                                               #636363; rgb(99, 99, 99); */
    --Easy-On-The-Eyes_Black: oklch(0.17644019179778966 0.012395924974050192 226.09244034496973);/* #0b1215; rgb(11, 18, 21); */
   /* base rainbow palette */
    --Rose: oklch(0.5882089242909252 0.21125331769526942 14.092925606645451);/*                     #dd2a55; rgb(221,42, 85); */
    --Tangerine: oklch(0.7145689691313319 0.175581688521099 49.11072256569463);/*                   #f77b28; rgb(247,123,40); */
    --Sunshine: oklch(0.8653074278560848 0.1497592435129982 90.57949800609094);/*                   #f8ce4d; rgb(248,206,77); */
    --Grass: oklch(0.6323845681163087 0.13573679123111135 145.4502619167156);/*                     #4d9f54; rgb(77, 159,84); */
    --Sky: oklch(0.6041204452605085 0.153540608312167 256.4544847077277);/*                         #3d81db; rgb(61, 129,219); */
    --Lavender: oklch(0.6648274812493339 0.1308345231366333 313.44398556773535);/*                  #b07acc; rgb(176,122,204); */
   /* additional colours */
    --Lagoon: oklch(0.7760964756100834 0.11146157299240993 218.66753479225045);/*                   #54c7e6; rgb(84, 199,230); */
    --Carnation: oklch(0.813280072225418 0.07913434229338959 4.960306086162063);/*                  #efadbb; rgb(239,173,187); */
    --Quartz: oklch(0.9802682745556885 0.022320705660403263 87.1491756931726);/*                    #fff8e8; rgb(255,248,232); */
    --Coal: oklch(0.36483800712846853 0.0013678040297622838 17.219942098963315);/*                  #3f3e3e; rgb(63, 62, 62); */
    --Earth: oklch(0.475285702751123 0.03134421230298802 44.435245914265465);/*                     #6c574e; rgb(108,87, 78); */
    --Clay: oklch(0.4894096212898493 0.0870247603918415 22.627866185563676);/*                      #8b4b49; rgb(139,75, 73); */
   /* gradient backgrounds */
    --Grainy_Rainbow_Background:
      url("Grainy_Filter.svg"),
      radial-gradient(circle at 0% 50%,
      var(--Sky) 0%, transparent 50%),
      radial-gradient(circle at 100% 50%,
      var(--Tangerine) 0%, transparent 50%),
      radial-gradient(circle at 75% 0%,
      var(--Rose) 0%, transparent 50%),
      radial-gradient(circle at 25% 100%,
      var(--Grass) 0%, transparent 50%),
      radial-gradient(circle at 25% 0%,
      var(--Lavender) 0%, transparent 50%),
      radial-gradient(circle at 75% 100%,
      var(--Sunshine) 0%, transparent 50%);
    --Rainbow_Soft:
      var(--Rose) 0%,
      var(--Tangerine) calc(100% / 7 * 1),
      var(--Sunshine) calc(100% / 7 * 2),
      var(--Grass) calc(100% / 7 * 3),
      var(--Sky) calc(100% / 7 * 4),
      var(--Lavender) calc(100% / 7 * 5),
      var(--Clay) calc(100% / 7 * 6),
      var(--Coal) 100%;
    --Gradient_Rainbow_Soft_Horizontal: linear-gradient(
      90deg,
      var(--Rainbow_Soft)
    );
    --Gradient_Rainbow_Soft_Vertical: linear-gradient(
      0deg,
      var(--Rainbow_Soft)
    );
    --Rainbow_Hard:
      var(--Rose) calc(100% / 8),
      var(--Tangerine) 0 calc(100% / 8 * 2),
      var(--Sunshine) 0 calc(100% / 8 * 3),
      var(--Grass) 0 calc(100% / 8 * 4),
      var(--Sky) 0 calc(100% / 8 * 5),
      var(--Lavender) 0 calc(100% / 8 * 6),
      var(--Clay) 0 calc(100% / 8 * 7),
      var(--Coal) 0;
    --Gradient_Rainbow_Hard_Horizontal: linear-gradient(
      90deg,
      var(--Rainbow_Hard)
    );
    --Gradient_Rainbow_Hard_Vertical: linear-gradient(
      0deg,
      var(--Rainbow_Hard)
    );
    --Trans_Flag_Soft:
      var(--Lagoon) 0%,
      var(--Carnation) calc(100% / 4 * 1),
      var(--Quartz) calc(100% / 4 * 2),
      var(--Carnation) calc(100% / 4 * 3),
      var(--Lagoon) 100%;
    --Gradient_Trans_Flag_Soft_Horizontal: linear-gradient(
      to right,
      var(--Trans_Flag_Soft)
    );
    --Gradient_Trans_Flag_Soft_Vertical: linear-gradient(
      to bottom,
      var(--Trans_Flag_Soft)
    );
    --Trans_Flag_Hard:
      var(--Lagoon) calc(100% / 5),
      var(--Carnation) 0 calc(100% / 5 * 2),
      var(--Quartz) 0 calc(100% / 5 * 3),
      var(--Carnation) 0 calc(100% / 5 * 4),
      var(--Lagoon) 0;
    --Gradient_Trans_Flag_Hard_Horizontal: linear-gradient(
      90deg,
      var(--Trans_Flag_Hard)
    );
    --Gradient_Trans_Flag_Hard_Vertical: linear-gradient(
      0deg,
      var(--Trans_Flag_Hard)
    );
    --Carousel_Image_Blend_Mask: linear-gradient(
      to right,
      #0000 0%,
      #000 calc(var(--Carousel_Image_Blend_Width) * 1%) calc(100% - var(--Carousel_Image_Blend_Width) * 1%),/* 5% 95% */
      #0000 100%
    );
  }
}
@layer theme {
 /* common theme defines */
 /* cursors have embedded CSS to style border for light/dark mode */
  * {
    cursor: url("Pride_Progress_Default_Cursor.svg") 0 0, default;/* default cursor */
  }
  a {
    cursor: url("Pride_Progress_Pointer_Cursor.svg") 13 0, pointer;/* link hover cursor */
  }
  a:visited {
    color: var(--Lavender);/* visited link colour */
  }
  html {
    background: var(--Grainy_Rainbow_Background);/* mesh-gradient rainbow spiral background */
    background-blend-mode: luminosity, normal, normal, normal, normal, normal, normal;/* set grainy texture SVG layer to only affect brightness of other layers */
    min-height: 100vh;/* ensure background fills entire viewport */
    font-family: "Neue Einstellung", "Neue Einstellung Fallback";
  }
 /* typeface family, size assignments */
  h1,
  h2 {
    font-family: "TAN St. Canard", "TAN St. Canard Fallback";
  }
  header {
    font-size: var(--H6_Font_Height);
  }
  main {
    font-size: var(--Medium_Font_Height);
  }
  h1 {
    font-size: var(--H1_Font_Height);
  }
  h2 {
    font-size: var(--H2_Font_Height);
  }
  aside,
  footer {
    font-size: var(--XSmall_Font_Height);
  }
 /* class content insertion */
  .Entity::before {
    content: var(--Entity);
  }
  .ABN::before {
    content: var(--ABN);
  }
  .Group_Name::before {
    content: var(--Group_Name);
  }
  .Acknowledgement_of_Country {
    text-wrap: balance;
  }
  .Acknowledgement_of_Country::after {
    content: var(--Acknowledgement_of_Country);
  }
  .GR_Logo {
    content: var(--GR_Logo);
  }
  .GR_Logo::selection {
    background-color: #0000;
  }
  .Aboriginal_Flag {
    content: var(--Aboriginal_Flag);
  }
  .Torres_Strait_Islander_Flag {
    content: var(--Torres_Strait_Islander_Flag);
  }
  @media (prefers-color-scheme: light) {/* light colour theme */
    @supports (scrollbar-color: auto) {
      * {
        scrollbar-color: color-mix(in oklch, var(--Coal) 70%, var(--Off-White)) var(--Off-White);/* uses color-mix to simulate otherwise unsupported opacity value */
      }
    }
    @supports selector(::-webkit-scrollbar) {
      *::-webkit-scrollbar-thumb {
        background: color-mix(in oklch, var(--Coal) 70%, var(--Off-White));/* as above. fallback scrollbar theming */
      }
      *::-webkit-scrollbar-track {
        background: var(--Off-White);
      }
    }
    body {
      color: var(--Coal);
      background: var(--Off-White);
    }
    header,
    .Sidebar,
    footer {
      background: var(--Quartz);
    }
    a:link {
      color: var(--Sky);
    }
  }
  @media (prefers-color-scheme: dark) {/* dark colour theme: should be mirror of light colour theme with unique values */
    @supports (scrollbar-color: auto) {
      * {
        scrollbar-color: color-mix(in oklch, var(--Off-White) 70%, var(--Coal)) var(--Coal);
      }
    }
    @supports selector(::-webkit-scrollbar) {
      *::-webkit-scrollbar-thumb {
        background: color-mix(in oklch, var(--Off-White) 70%, var(--Coal));
      }
      *::-webkit-scrollbar-track {
        background: var(--Coal);
      }
    }
    body {
      color: var(--Off-White);
      background: var(--Coal);
    }
    header,
    .Sidebar,
    footer {
      background: var(--Clay);
    }
    a:link {
      color: var(--Lagoon);
    }
  }
  @media (prefers-contrast: more) {/* high contrast scheme colours */
   /* add high contrast color overrides here */
  }
  @media (prefers-contrast: less) {/* low contrast scheme colours: should be mirror of high contrast scheme with unique values */
   /* add low contrast color overrides here */
  }
}
@layer layout {/* element arrangment */
  html {
    min-height: 100vh;
  }
  body {
    height: calc(100vh - (var(--Body_Border_Width) * 2));/* allow for the rainbow border to display on the bottom of the page (needs rework to allow body to be taller than 100vh) */
    margin: 
      max(env(safe-area-inset-top), var(--Body_Border_Width))
      max(env(safe-area-inset-right), var(--Body_Border_Width))
      max(env(safe-area-inset-bottom), var(--Body_Border_Width))
      max(env(safe-area-inset-left), var(--Body_Border_Width));/* set each rainbow border width to the largest value between `Body_Border_Width` and the device's `safe-area-inset` (notch clearance) */
    border-radius: var(--Body_Border_Radius);
    display: grid;
    grid-template:/* heights: */
      "Header  Header" 3fr/* 30% */
      "Sidebar Main"   6fr/* 60% */
      "Sidebar Footer" 1fr/* 10% */
      /          1fr 3fr;
      /* widths: 25% 75% */
  }
 /* common styling */
  header,
  .Carousel,
  .Navigation,
  .Sidebar,
  main,
  footer {
    border-radius: var(--Body_Border_Radius);
    margin: var(--Content_Margin);
  }
  header {
    grid-area: Header;
    display: grid;
    grid-template:/* heights: */
      "Carousel"   3fr/* 75% */
      "Navigation" 1fr/* 25% */
      /          1fr;
      /* widths: 100% */
  }
  .Sidebar {
    grid-area: Sidebar;
    display: grid;
    grid-template:/* heights: */
      "Quick-Links" 1fr/* 50% */
      "Calendar"    1fr/* 50% */
      /           1fr;
      /* widths:  100% */
  }
  main {
    grid-area: Main;
    inset: var(--Body_Border_Width);
    container-type: inline-size;
    border-radius: var(--Body_Border_Radius);
    padding: calc(var(--Body_Border_Width) / 2);
    text-align: center;
    text-wrap: balance;
    overflow-y: scroll;
    @container (width < 90ch) {/* if less than 90 characters can be displayed along the width: */
     /* mobile layout goes here */
    }
  }
  footer {
    grid-area: Footer;
    display: grid;
    grid-template:/* heights: */
      "Acknowledgement_of_Country Flags" 3fr/* 75% */
      "Acknowledgement_of_Country ABN"   1fr/* 25% */
      /                            3fr 1fr;
      /* widths:                   75% 25% */
  }
 /* section content horizontal centring */
  .Carousel,
  .Navigation,
  .Quick-Links,
  .Calendar,
  .Acknowledgement_of_Country,
  .Flags {
    align-self: center;
    text-align: center;
  }
  @keyframes Carousel_Inline_Scroll {
    from {
      transform: translateX(
        calc(
          var(--Carousel_Image_Width)/* 25cqi */
          * -1/*                        25cqi * -1 = -25cqi */
        )
      );
    }
    to {
      transform: translateX(
        calc(
          (
            var(--Carousel_Image_Count)/* 8 */
            + 1/*                         9 */
          )
          * var(--Carousel_Image_Width)/* 9 * 25cqi */
          * -1/*                          225cqi * -1 = -225cqi */
        )
      );
    }
  }
  .Carousel {
    grid-area: Carousel;
    overflow-x: hidden;/* hide carousel images outside carousel bounds */
    container-type: inline-size;
    margin-bottom: 0;/* remove bottom margin */
  }
  .Carousel_Inline {
    display: flex;/* use flexbox for horizontal scrolling */
    transform: translateX(
      calc(
        var(--Carousel_Image_Width)
        * -1
      )
    );
    animation: calc(
      var(--Carousel_Image_Count)/*      8 */
      * var(--Carousel_Image_Duration)/* 8 * 7.5s = 60s */
    ) linear 0s infinite normal both running Carousel_Inline_Scroll;/* loop carousel by set duration per photo infinitely, allow pausing when needed for accessibility */
    background-color: #f0f;
  }
  .Navigation {
    grid-area: Navigation;
    height: 100%;
    border-image:
      var(--Gradient_Trans_Flag_Hard_Vertical)
      100% 0 0 0 //* divide border such that only top section is used for the border image */
      calc(
        var(--Running_Marginal_Border_Width)
        * var(--Logo_Size_Multiplication_Factor)
      ) 0 0 0 //* set top section width to running marginal border width */
      calc(
        var(--Running_Marginal_Border_Width)
        * var(--Logo_Size_Multiplication_Factor)
        / 2
      ) 0 0 0;/* outset the border by half the running marginal border width */
    border-style: solid;
    position: relative;
    isolation: isolate;/* required to ensure `border-image` renders over carousel images */
  }
  .GR_Logo {
    height: calc(
      100px
      * var(--Logo_Size_Multiplication_Factor)
    );/*set original size multiplied by factor*/
    position: absolute;/*position logo relative to navigation bar*/
    place-self: start center;/*position logo to the top-middle of the navigation bar*/
    inset: 0 50%;/*set the horizontal distance to 50% of the parent element*/
    transform: translateY(-50%);/*move the logo upwards by half its height*/
  }
  .Quick-Links {
    grid-area: Quick-Links;
  }
  .Calendar {
    grid-area: Calendar;
  }
  .Acknowledgement_of_Country {
    grid-area: Acknowledgement_of_Country;
  }
  .Flags {
    grid-area: Flags;
  }
  .ABN {
    grid-area: ABN;
    align-self: end;/* align to bottom of area */
    justify-self: end;/* align to right of area */
    margin-right: var(--Content_Margin);/*move leftwards by content margin*/
  }
  .Carousel_Inline > img {
    flex: 0 0 auto;/* don't shrink or grow images, maintain explicit width */
    aspect-ratio: 3 / 2;/* images maintain typical photo aspect ratio */
    object-fit: cover;/* crop images to best fit dimensions */
    mask-image: var(--Carousel_Image_Blend_Mask);/* apply an opacity gradient to the left and right edge */
    margin: 0 calc(
      var(--Carousel_Image_Blend_Width)/* 5... */
      / -100/*                           -5%... */
      * var(--Carousel_Image_Width)/*    -5% of 25cqi = -1.25cqi */
    );/* overlap carousel images by blend width */
    width: calc(
      var(--Carousel_Image_Width)/*         25cqi... */
      + var(--Carousel_Image_Blend_Width)/* 25cqi + 5... */
      / 50/*                                25cqi + 10%... */
      * var(--Carousel_Image_Width)/*       25cqi + 10% of 25cqi = 27.5cqi */
    );/* increase carousel image width by double blend width to fit quarter of carousel */
  }
}